body, * {
    font-family: 'Roboto';
    box-sizing: border-box;
    color: #293845;
}

body {
    width: 100vw;
    height: 100vh;
}

.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.root > * {
    width: 100%;
}

header {
    display: flex;
    flex: 0 0 auto;
    background-color: #1e3b53;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.headerContainer {
    width: 100%;
    max-width: 500px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.headerTitle {
    font-size: 34px;
    font-weight: 700;
    color: #E8833A;
    padding: 0;
}

.previousButton {
    color: white;
    position: absolute;
    left: 0px;
    padding: 10px 5px;
    cursor: pointer;
    border-radius: 3px;
}
.previousButton:hover{
    background-color: rgba(255, 255, 255, 0.103);
}

main {
    flex: 1 1 auto;
    height: 2000px;
    overflow-y: scroll;
    padding: 0 24px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

main > * {
    width: 100%;
}

h1 {
    padding: 40px 0px;
    font-size: 24px;
    text-align: center;
}

h2 {
    padding: 10px 0px;
    font-size: 18px;
}

.sucessHeadline {
    font-weight: 700;
    color: #247A6B;
}

h3 {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
}

footer {
    flex: 0 0 auto;
    background-color: #DFE6ED;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.movies {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 30px;
    transition: all 0.3s;
}

.movies__movieThumb {
    border-radius: 3px;
    border: 8px solid white;
    width: 145px; 
    box-shadow: 0px 2px 4px 2px #0000001A;
}
.movies__movieThumb:hover {
    box-shadow: 0px 6px 4px 2px #0000001A;
}



.seatsmap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.seatsmap__elements {
    max-width: 330px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px 5px;
}

.seatsmap__seat {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    background-color: white;
    border: 1px solid #808F9D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}

.seatsmap__elements > .seatsmap__seat {
    cursor: pointer;
}

.seatsmap__seat.gray {
    background-color: #C3CFD9;
    border-color: #808F9D;
}

.seatsmap__seat.green {
    background-color: #8DD7CF;
    border-color: #45BDB0;
}

.seatsmap__seat.yellow {
    background-color: #FBE192;
    border-color: #F7C52B;
}

.seatsmap__legenda {
    display: flex;
    font-size: 13px;
    justify-content: center;
}

.seatsmap__legenda > *{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.clientInputs {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.clientInput {
    width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}
input {
    height: 50px;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px;
}
input::placeholder{
    color: #AFAFAF;
    font-style: italic;
}
.validInput {
    background-color: rgb(241, 250, 245);
}


button {
    background-color: #E8833A;
    color: white;
    border:none;
    border-radius: 3px;
    font-size: 18px;
    padding: 12px 20px;
    cursor: pointer;
}
button:hover {
    background-color: #c7651f;
}

.mainButton {
    margin-top: 40px;
}

.day {
    margin-bottom: 26px;
}

.day__sessions {
    display: flex;
    gap: 8px;
}

.centralizeContent {
    display: flex;
    align-items: center;
    justify-content: center;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 117px;
    overflow: hidden;
}

footer > * {
    padding: 10px 14px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

footer .movies__movieThumb {
    width: 64px;
    object-fit: cover;

}